# Bytecode and cache
__pycache__/
*.py[cod]
*.pth

# VSCode / PyCharm / IDE settings
.vscode/
.idea/

# Model checkpoints and data
*.npz
output/
data/logs/
data/arcticdb_storage/
data/data.csv
data_/logs/
data_/arcticdb_storage/
data_/data.csv


